ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

ul.topnav.sub-menu-ul {
  background-color: #ff3c66;
}

ul.topnav li {float: left;border-right: 1px solid #333;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 16px;
  font-weight: 500;
}

ul.topnav.sub-menu-ul li a {
  color: #fff;
}
ul.topnav li a.active {background-color: #ff3c66;}
ul.topnav.sub-menu-ul li a.active {background-color: #bf1943;}

ul.topnav li a.option-selected{background-color: #c2805a;}
ul.topnav.sub-menu-ul li a.option-selected {background-color: #c2805a;}

.option-selected {background-color: #c2805a;}

ul.topnav li a:hover{background-color: #555;}

.measurements-group-heading-div{
	border-bottom: 1px solid #cfcfcf;
    border-top: 1px solid #fcfcfc;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px;
    text-align: left;
}

.measurement-input-fields-div{
	background: #ebebeb;
	padding: 10px;
}
.st-bg-baby-pink{color:#fff !important;background: #ff5f89 !important;}

.selection-page-leftpane{border-right: 2px solid #cfcfcf;}
.selection-page-rightpane{}

.selection-page-rightpane .attr-option-div{margin: 0;}

.selection-page-options-div{}
.selection-page-options-div .attr-option-div{}
.selection-page-options-div .attr-option-div .single-option{padding: 10px;}
.selection-page-options-div .attr-option-div .single-option.active{border: 2px solid #ff5f89;}

.product-selection-details-div{
    padding: 0 5px;
}

.product-selection-details-div p.product-name{
	margin: 5px 0;
	text-align: center;
	font-weight: 500;
	font-size: 18px;
}

.product-selection-details-div .product-image-div{
	border: 1px solid #d1cfcf;
	height: 250px;
	text-align: center;
}

.product-selection-details-div .product-image-div img{
	height: 250px;
}

.product-selection-details-div .gallery-images-list{
	margin: 10px 0 0;
    overflow: hidden;
    position: static;
	padding: 0;
}

.product-selection-details-div .gallery-images-list li {
    float: left;
    margin: 0 10px 10px 0;
 /*    min-width: 24.2%; */
    max-width: 24%;
    display: inline-block;
}

.product-selection-details-div .gallery-images-list li img {
    border: 1px solid #d1cfcf;
    cursor: pointer;
    display: block;
    height: auto;
    opacity: 0.7;
/*     padding: 14%; */
    transition: all 1s ease 0s;
    width: 100%;
}

.product-selection-details-div .gallery-images-list li .active {
    cursor: default;
    opacity: 1;
}

.table-container{
	margin: 5px 0;
}
.table-container label{
	text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 0;
    text-align: left;
}

table td, table th {
    border: 1px solid #9c9c9c;
    padding: 8px;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ff5f89;
    color: white;
}

.product-list .galleriesClass {
	margin-left: 5px;
}

.product-list .galleriesClass {
	margin-left: 10px;
}

.product-list .galleriesClass p{
	text-align: center;
}

img.product-image{}

.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a {
    color: #ffffff !important;
}

.float-right{
	float: right !important;
}
/*
.width-product-list{
	max-width : 32% !important;
}
*/
.width-app{
	width : 100%;
}

.attr-opt-hei-wid{
	width : 160px;
	height : 160px;
}